bin
obj
/src/XmlContentTranslator/XmlContentTranslator.csproj.DotSettings
/src/XmlContentTranslator/XmlContentTranslator.zip
/src/.vs/XmlContentTranslator/v15
/src/.vs/XmlContentTranslator
/xct.pdn
/xct.png
/xct2.ico

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
